.alert-danger{
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    color: #ffffff;
    background-color: #EF4444;
}
.alert-success {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    color: #ffffff;
    background-color: #10B981;
}
.btn-primary{
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #3B82F6;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.btn-primary:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn-success{
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #10B981;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.btn-success:hover{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.btn-danger{
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #DC2626;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.btn-danger:hover{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}