<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />
    <title>{% block title %} {% endblock%} - VIP Ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../static/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../static/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link href="../static/css/argon-dashboard-tailwind.css?v=1.0.1" rel="stylesheet" />
</head>

<body
    class="m-0 font-sans text-base antialiased font-normal dark:bg-slate-900 leading-default bg-gray-50 text-slate-500">
    <div class="absolute w-full bg-blue-500 dark:hidden min-h-75"></div>
    {% block content %}{% endblock %}
</body>
<!-- plugin for charts  -->
<script src="../static/js/plugins/chartjs.min.js" async></script>
<!-- plugin for scrollbar  -->
<script src="../static/js/plugins/perfect-scrollbar.min.js" async></script>
<!-- main script file  -->
<script src="../static/js/argon-dashboard-tailwind.js?v=1.0.1" async></script>

</html>