<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas suas tarefas - VIP Task</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
</head>
<body>
    <div class="flex justify-center items-center min-h-screen bg-[#cbd7e3]">
        <div class="h-auto  w-2/4 bg-white rounded-lg p-4">
            <div class="mt-3 mb-4 text-sm text-[#8ea6c8] flex justify-between items-center">
                <p class="set_date">Thursday 28 May</p>
                <p class="set_time">8:00 AM</p>
            </div>
            <div class="flex justify-between">
                <p class="text-xl font-semibold mt-2 text-[#063c76]">Santos Ussene | <small class="lowercase">Ussene026@outlook.com</small></p>
                <button id="openAddModalBtn" class="text-md font-semibold mt-2 bg-[#063c76] text-white text-center uppercase p-2 rounded-md">Adicionar Task</button>
            </div>
            <ul class="my-4 ">
                {% if dados %}
                    {% for res in dados %}
                        <li class=" mt-4" id="1">
                            <div class="flex gap-0.5 justify-between">
                                <div class="w-9/12 h-12 bg-[#e0ebff] rounded-[7px] flex justify-start items-center px-3">
                                    <span id="check1" class="w-7 h-7 bg-white rounded-full border border-white transition-all cursor-pointer hover:border-[#36d344] flex justify-center items-center" onclick="checked(1)">
                                        <i class="text-white fa fa-check"></i>
                                    </span>
                                    <span id="strike1" class="strike_none text-sm ml-4 text-[#5b7a9d] font-semibold">{{ res.2 }}</span>
                                    <span class="ml-auto text-sm ml-4 text-[#5b7a9d] font-semibold">{{ res.3 }}</span>
                                </div>
                                <button id="openUpdateModalBtn" class="w-24 h-12 bg-[#F59E0B] rounded-[7px] flex justify-center text-sm text-white font-semibold items-center">Actualizar</button>
                                <a href="/delete/{{ res.0 }}" class="w-24 h-12 bg-red-500 rounded-[7px] flex justify-center text-sm text-white font-semibold items-center ">Eliminar</a>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="mt-4" id="no-data">
                        <div class="w-full h-12 bg-[#e0ebff] rounded-[7px] flex justify-center items-center px-3">
                            <span>Nenhuma tarefa cadastrada</span>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Modal NEW TASK -->
    <div id="openAddModalBox" class="modal">
        <div class="modal-content ">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 class="uppercase mb-10">Adicionar Task</h2>
            <form action="/add" method="POST" id="taskForm" class="flex">
                <input type="text" name="taskName" placeholder="Descreva a sua tarefa aqui..."
                    class="flex-grow rounded-md border-0 py-1.5 pl-7 pr-2 text-gray-900 ring-1 ring-inset placeholder:text-gray-400 sm:text-sm sm:leading-6"
                    required>
                <button type="submit" class="ml-2 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">ADICIONAR</button>
            </form>
        </div>
    </div>
    <!-- UPDATE TASK -->
    <div id="myModalUpdate" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 class="uppercase mb-10">Atualizar Tarefa</h2>
            <form action="/update/{{ update_id }}" method="POST" id="updateTaskForm" class="flex">
                <input type="text" name="updatetaskName" id="updatetaskName" placeholder="..."
                    class="flex-grow rounded-md border-0 py-1.5 pl-7 pr-2 text-gray-900 ring-1 ring-inset placeholder:text-gray-400 sm:text-sm sm:leading-6"
                    required>
                <button type="submit" class="ml-2 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">ACTUALIZAR AGORA</button>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
<script>
    var setdate = document.querySelector(".set_date");
    var settime = document.querySelector(".set_time");
    var date = new Date().toDateString();
    setdate.innerHTML = date;
    setInterval(function () {
        var time = new Date().toLocaleTimeString();
        settime.innerHTML = time;
    }, 500);
    function checked(id) {
        var checked_green = document.getElementById("check" + id);
        checked_green.classList.toggle('green');
        var strike_unstrike = document.getElementById("strike" + id);
        strike_unstrike.classList.toggle('strike_none');
    }

    // JAVASCRIPT PARA MODAL
    const openAddModalBox = document.getElementById("openAddModalBox");
    const openAddModalBtn = document.getElementById("openAddModalBtn");
    const span = document.getElementsByClassName("close")[0];

    openAddModalBtn.onclick = function () {
        openAddModalBox.style.display = "block";
    };

    span.onclick = function () {
        closeModal();
    };

    window.onclick = function (event) {
        if (event.target == openAddModalBox) {
            closeModal();
        }
    };

    function closeModal() {
        openAddModalBox.style.display = "none";
    }
</script>
</html>